<li>
  <h2><%= document_template.name %></h2>
  <%= link_to "Editar", edit_user_document_template_path(@user, document_template) %>
  <%= link_to "Generar Documento", user_document_template_path(@user, document_template) %>
</li>
